@{
	ViewData["Title"] = "Login";
}

<h1>Welcome Back</h1>
<h3>Choose your role</h3>
<a class="btn btn-primary" asp-controller="Users", asp-action="Login">Users</a>
<a class="btn btn-primary" asp-controller="Authors" , asp-action="Login">Authors</a>