@{
	ViewData["Title"] = "Logout";
}

<h1>About Page</h1>
<h3>Are you sure you want to Log out?</h3>
<a class="btn btn-primary" asp-controller="Account" asp-action="LogoutConfirmed">Yes</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">No</a>