@{
    ViewData["Title"] = "BookShop.Users";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to a comfortable place where you can either buy books or share yours' with others.</p>
</div>
